@{
    ViewData["Title"] = "Gestion de Stock V1.0";
}

<div class="text-center">
    <h1 class="display-4">Gestion de Stock</h1>
    <p>Application de gestion de stocks... je reviendrai pour plus de commentaires</p>
</div>
